*{
  margin: 0%;
  padding: 0%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#Background_Img{
  z-index: -1;
  width: 1000px;
  position: absolute;
  
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Small_Image{
  width: 160px;
  height: 160px;
  object-fit: fill;
  
}
#Main{
  display: flex;
  gap: 15px;
  padding: 10px;
}

.card-container {
  position: relative;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 700px;
  height: 400px;
  
  background: linear-gradient(to right, #0d0d0c 45%, transparent 100%);
  margin: 50px auto;
  border-radius: 20px;
}

.background-overlay{
  margin: 15px;
}
#Background_Img {
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 400px;
  z-index: -2; /* Ensure it's behind the overlay */
  border-radius: 20px;
}
#Title_1{
  color: white;
}
p{
  color: white;
  width: 325px;
  margin: 15px 0px;
}

.App{

  z-index: -2;
  position: relative;
  
}